---
 const personalImageAlt = "Daniel Márquez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel Márquez, empecé en la
      programación hace tres años por la intriga que me daban las plataformas Moodle que gestionaba. Actualmente, <strong
        >desarrollo dichas plataformas personalizadas, creo sus aplicaciones y me dedico a crear todo tipo de aplicaciones web</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >el desarrollo de mi primera plataforma completa CROU con su aplicación para Android e iOS</strong
      >. Con énfasis en la seguridad y velocidad para los usuarios. Completamente personalizada según las peticiones de la Diputación de Ourense.
    </p>

    <p>
      Actualmente, estoy especializándome en  <strong
        >C# usando ASP.NET </strong
      >. Pero estoy abierto a todo tipo de lenguajes y frameworks.
    </p>
  </div>

  <img width="200" height="200" src="/image.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>