---
 const personalImageAlt = "Daniel Márquez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel Márquez, comencé mi camino en la programación hace tres años, 
      impulsado por la curiosidad por las plataformas Moodle que gestionaba. Desde entonces,<strong
        > he desarrollado diversas plataformas web personalizadas y sus respectivas aplicaciones para Android e iOS.

</strong
      >
    </p>

    <p>
      Actualmente, trabajo con <strong>Odoo</strong>, ayudando a empresas a optimizar sus procesos mediante soluciones personalizadas
    </p>

    <p>
      En mi tiempo libre, estoy desarrollando una aplicación con <strong>Flutter</strong> y aprendiendo sobre<strong
        > DevOps</strong
      > para mejorar mis conocimientos y habilidades en la gestión de infraestructuras y procesos de automatización.
    </p>
  </div>

  <img width="200" height="200" src="/image.png" alt={personalImageAlt} loading="lazy" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>