---
import ExperienceItem from "./ExperienceItem.astro"
import { getExperience } from "@/data/experience"

const { m } = Astro.props
const experience = getExperience(m)
---

<ol class="relative mt-16">
  {
    experience.map((item) => (
      <li>
        <ExperienceItem {...item} m={m} />
      </li>
    ))
  }
</ol>
