---
import ExperienceItem from "./ExperienceItem.astro"
const { m } = Astro.props
const EXPERIENCIE = [
  {
    id: "saec_data",
    date: "At the moment...",
    title: m.title_saec_data,
    company: m.company_saec_data,
    description: m.description_saec_data,
  },
  {
    id: "freelance",
    date: "At the moment...",
    title: m.title_freelance,
    company: m.company_freelance,
    description: m.description_freelance,
    link: "https://consultoria.danimarqz.dev"
  },
  {
    id: "big_formacion",
    date: "08/2020 - 09/2024",
    title: m.title_big_formacion,
    company: m.company_big_formacion,
    description: m.description_big_formacion
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="" >
        <ExperienceItem {...experiencie} m={m} />
      </li>
    ))
  }
</ol>