---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Software Developer",
    company: "Saec Data",
    description:
      "Desarrollo y configuración de módulos de Odoo usando Python, PostgreSQL, XML y JavaScript. También trabajo en la generación de informes y facturas con Jasper Reports."
  },
  {
    date: "Actualmente...",
    title: "Consultor TIC",
    company: "BiG Formación",
    description:
      "Administro y desarrollo múltiples plataformas Moodle, desarrollo sus aplicaciones y he contrubuido con el proyecto BiGtv, Afaga Concept One y BiG Estimula desarrollando / mejorando sus aplicaciones."
  },
  {
    date: "Actualmente...",
    title: "Consultor Moodle",
    company: "Freelance",
    description:
      "Habilito tu plataforma para dar cursos de FUNDAE añadiendo informes con todos los datos que solicitan. También hago mantenimiento de tus campus (habilitar el cron, habilitar la mensajería, etc.). Además puedo crear aplicaciones personalizadas para que puedas mantener tu imagen de marca.",
    link: "https://consultoria.danimarqz.dev"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
