---
import ExperienceItem from "./ExperienceItem.astro"
import * as m from "../paraglide/messages"
const EXPERIENCIE = [
  {
    date: m.right_now(),
    title: m.consultor_tic(),
    company: "BiG Formación",
    description:
      m.descripcion_big()
  },
  {
    date: m.right_now(),
    title: m.consultor_moodle(),
    company: "Freelance",
    description:
      m.descripcion_consultor_moodle(),
    link: "https://consultoria.danimarqz.dev"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
