---
import ExperienceItem from "./ExperienceItem.astro"
const { m } = Astro.props
const EXPERIENCIE = [
  {
    id: "saec_data",
    date: m.right_now,
    title: "Software Developer",
    company: "Saec Data",
    description: m.description_saec_data,
  },
  {
    id: "freelance",
    date: m.right_now,
    title: m.title_freelance,
    company: "Freelance",
    description: m.description_freelance,
    link: "https://consultoria.danimarqz.dev"
  },
  {
    id: "big_formacion",
    date: "08/2020 - 09/2024",
    title: m.title_big_formacion,
    company: "BiG Formación",
    description: m.description_big_formacion
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem key={experiencie.id} {...experiencie} m={m} />
      </li>
    ))
  }
</ol>